.DS_Store
node_modules/
target/
dist/
.env
*.log

# OS/editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# Rust
Cargo.lock

# Python
__pycache__/
*.pyc

# Temporary
*.tmp
*.swp

**/scratch-notes*.md

# AI
.gemini
GEMINI.md