<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bootstrapping peer...</title>
    <script>
        const SIGNALING_SERVER_URL = "{{ signaling_server_url }}";
        const TARGET_PEER_ID = "{{ target_peer_id }}";
        const TARGET_SERVICE_ID = "{{ target_service_id }}";
        const HTTP_VERSION = "{{ http_version }}";
        const TARGET_PUBKEY_HEX = "{{ target_pubkey_hex }}";
        const urlParams = new URLSearchParams(window.location.search);
        let FORCE_TUNNEL = urlParams.get('force_tunnel') === 'true';
        if (FORCE_TUNNEL) {
            sessionStorage.setItem('force_tunnel', 'true');
        } else if (sessionStorage.getItem('force_tunnel') === 'true') {
            FORCE_TUNNEL = true;
        }
        const MY_ID = "gateway-" + Math.random().toString(36).substr(2, 9);
    </script>
    <script src="/__syneroym/peer-proxy.js"></script>
</head>

<body>
    Bootstrapping peer...
</body>

</html>